                                                                                                                                               /* 
This is the main stylesheet file. To keep things easier to read we don't actually write any css here. Instead we import a bunch of other partial files.
In Sass a partial has the following properties:

- it starts with an underscore _
- it is not automatically processed, you have to @import it
- if it ends with .scss then you can write normal css or write sass or a combination

Also, FYI, this is an example of a comment that won't get erased or compressed when Sass creates the CSS file. Putting the ! after the opening /* tells Sass not to touch it.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
==========================
Mixins
This is not CSS. Mixins work more like functions and help you to write CSS faster. 
========================== 
*/
/* line 4, ../scss/_midterm.scss */
body {
  background: black;
  padding: 20px;
}

/* line 5, ../scss/_midterm.scss */
h1 {
  color: white;
  text-align: center;
  margin: 60px;
}

/* line 6, ../scss/_midterm.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 7, ../scss/_midterm.scss */
p {
  color: white;
}

/* line 9, ../scss/_midterm.scss */
img.img1 {
  padding-left: 560px;
  margin: 10px;
}

/* line 12, ../scss/_midterm.scss */
body {
  background: black;
  padding: 20px;
}

/* line 13, ../scss/_midterm.scss */
h1 {
  color: white;
  text-align: center;
  margin: 60px;
}

/* line 14, ../scss/_midterm.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 15, ../scss/_midterm.scss */
p {
  color: white;
}

/* line 16, ../scss/_midterm.scss */
h3 {
  color: #fe0315;
}

/* line 21, ../scss/_midterm.scss */
object {
  margin: 20px;
  padding-left: 470px;
}

/* line 23, ../scss/_midterm.scss */
body {
  background: black;
  padding: 20px;
}

/* line 24, ../scss/_midterm.scss */
h1 {
  color: white;
  text-align: center;
  margin: 70px;
}

/* line 25, ../scss/_midterm.scss */
h2 {
  color: white;
  text-align: center;
}

/* line 26, ../scss/_midterm.scss */
p.p1 {
  color: white;
  text-align: center;
}

/* line 28, ../scss/_midterm.scss */
img.img1 {
  padding-left: 560px;
  margin: 10px;
}

/* =====================================
   CSS for <iframe> embedded element
   ===================================== */
/* line 35, ../scss/_midterm.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* if your video is 4:3 ratio then use the padding-bottom below:*/
  /*padding-bottom: 75%;*/
  /* 4:3 */
  padding-top: 25px;
  /* may need to adjust depending on the size of the player controls of the service you use */
  height: 0;
}

/* line 44, ../scss/_midterm.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 
==========================
Global Styles
These are styles that apply to every page on the site. For example:
---------------
Basic Element styling: body,h1,h2,h3,h4,h5,h6,p, a, a:link, a:hover, a:visited, ul, ul
Repeated sections: header, footer

I separated Navigation because it is complex and It's more likely that you will reuse it or modify code from someone else. 
Separating it allows you to more easily change and reuse navigation code.
========================== 
*/
/* apply a natural box layout model to all elements */
/* line 18, ../scss/_global.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
This is not the only thing you should do for responsive images, but it is a start. Remember that this style will not make your image or video grow any bigger than the original so you have to put in the largest version you will need.
That can be a performance issue since small screens will download the same image as large ones.
This article by Luke Wroblewski goes into more detail about that: http://www.lukew.com/ff/entry.asp?1851
*/
/* line 27, ../scss/_global.scss */
img, video {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* 
* ============================
* NAVIGATION 
* put your navigation CSS here
* ============================= 
*/
/* menu button */
/* line 17, ../scss/_navigation.scss */
.menu a {
  padding: 0.5em 0.625em;
  /*10/16 */
  background-color: #555555;
  border-radius: 5px;
  color: #eeeeee;
  text-decoration: none;
}

/* line 25, ../scss/_navigation.scss */
.menu a:hover {
  color: #555555;
  background-color: #eeeeee;
}

/* line 30, ../scss/_navigation.scss */
.menu {
  margin-bottom: 1em;
}

/* line 34, ../scss/_navigation.scss */
#topMenu {
  display: none;
  clear: both;
}

/* line 43, ../scss/_navigation.scss */
nav ul {
  list-style: none;
}
/* line 47, ../scss/_navigation.scss */
nav li a {
  display: block;
  color: #eeeeee;
  background-color: #555555;
  text-transform: uppercase;
  padding: 0.625em;
  /* 10/16 */
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
  font-weight: 900;
}
/* line 58, ../scss/_navigation.scss */
nav li a:hover {
  color: #555555;
  background-color: #eeeeee;
}
/* line 63, ../scss/_navigation.scss */
nav li a:active {
  color: #555555;
  background-color: #ff9900;
}
/* line 68, ../scss/_navigation.scss */
nav li.current a {
  color: #555555;
  background-color: #ff9900;
}

/* line 74, ../scss/_navigation.scss */
#bottom_nav {
  background-color: #555555;
  overflow: hidden;
}

@media only screen and (min-width: 50em) {
  /* hide the menu button */
  /* line 90, ../scss/_navigation.scss */
  #smallMenu {
    display: none;
  }

  /* line 95, ../scss/_navigation.scss */
  #topMenu {
    /* move main_nav to top of the screen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #555555;
  }

  /* move the rest of the page down accordingly */
  /* line 110, ../scss/_navigation.scss */
  #wrapper {
    margin-top: 3em;
    /*60 / 16 */
  }

  /* line 115, ../scss/_navigation.scss */
  nav {
    /* hide the link to top in the nav */
  }
  /* line 116, ../scss/_navigation.scss */
  nav li {
    display: inline;
    line-height: 1em;
  }
  /* line 121, ../scss/_navigation.scss */
  nav li a {
    float: left;
    padding: 0.9375em;
    /* 10/16  and  15/16 */
    border-bottom: none;
  }
  /* line 128, ../scss/_navigation.scss */
  nav li a.top {
    display: none;
  }
}
/* 
==========================
Index Page (homepage)
========================== 
*/
/* line 12, ../scss/pages/_index.scss */
#index h4 {
  color: #fff;
}
@media only screen and (min-width: 30em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: green;
  }
  /* line 35, ../scss/pages/_index.scss */
  #index h4 {
    color: orange;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 9, ../scss/pages/_index.scss */
  #index {
    background-color: orange;
  }
}

/* 
==========================
Index Page (homepage)
========================== 
*/
/* line 12, ../scss/pages/_schedule.scss */
#schedule h4 {
  color: #fff;
}
@media only screen and (min-width: 30em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: green;
  }
  /* line 35, ../scss/pages/_schedule.scss */
  #schedule h4 {
    color: orange;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 9, ../scss/pages/_schedule.scss */
  #schedule {
    background-color: orange;
  }
}

/* 
==========================
Speakers Page 
========================== 
*/
/* 
==========================
Index Page (homepage)
========================== 
*/
/* line 17, ../scss/pages/_speakers.scss */
#speaker h4 {
  color: #fff;
}
@media only screen and (min-width: 30em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: green;
  }
  /* line 40, ../scss/pages/_speakers.scss */
  #speaker h4 {
    color: orange;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 14, ../scss/pages/_speakers.scss */
  #speaker {
    background-color: orange;
  }
}

/* 
==========================
About Page 
========================== 
*/
@media only screen and (min-width: 30em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 9, ../scss/pages/_about.scss */
  #about {
    background-color: orange;
  }
}

/* 
==========================
Videos Page 
========================== 
*/
/* 
==========================
Index Page (homepage)
========================== 
*/
/* line 18, ../scss/pages/_video.scss */
#video h4 {
  color: #fff;
}
@media only screen and (min-width: 30em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: green;
  }
  /* line 41, ../scss/pages/_video.scss */
  #video h4 {
    color: orange;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 15, ../scss/pages/_video.scss */
  #video {
    background-color: orange;
  }
}

/* 
==========================
Sessions Page 
========================== 
*/
@media only screen and (min-width: 30em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: violet;
  }
}
@media only screen and (min-width: 40em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: red;
  }
}
@media only screen and (min-width: 50em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: green;
  }
}
@media only screen and (min-width: 67.5em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: yellow;
  }
}
@media only screen and (min-width: 80em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: blue;
    color: white;
  }
}
@media only screen and (min-width: 90em) {
  /* line 8, ../scss/pages/_sessions.scss */
  #sessions {
    background-color: orange;
  }
}
